.mainContainer {
    padding: 20px;
    background-color: #dfe6e9;
}

.header {
    background-color: #38ada9;
    color: #0a3d62;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-left .backLink {
    color: #0a3d62;
    cursor: pointer;
}

.header .header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/************ STATS ************/


.stats-and-charts {
    height: 650px;
    display: flex;
    flex-direction: row;
}

.stats-and-charts .stats-and-doughnut {
    display: flex;
    flex-direction: row;
}

.stats-and-doughnut-cognitive {
    width: 600px;
    margin: auto;
}

.stats-and-doughnut-cyclomatic {
    display: block;
    flex-direction: row;
    text-align: center;
}

.stats {
    padding-top: 50px;
    width: 310px;
    padding-left: 50px;

}

.stats-cy {
    padding-top: 20px;
    width: 250px;
    margin: auto;
}

.stats-cognitive {
    width: 65%;
    margin-right: 1em;
}

.stats-cyclomatic {
    width: 35%;
}

.stats-cognitive,
.stats-cyclomatic {
    background-color: #fff;
    /* background-color: #A3CB38; */
    border-radius: 5px;
}

.doughnut {
    display: inline-block;
    margin-left: -30px;
}

.bar {
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    width: 100%;
}

.bar-cognitive {
    height: 65%;
}

.bar-cyclomatic {
    height: 44%;
}

.cognitive-charts {
    padding-top: 2em;
    width: 95% !important;
    height: 100% !important;
}

.cyclomatic-charts {
    padding-top: 50px;
    width: 95% !important;
    height: 100% !important;
}

.correct {
    color: #99ccff;
}

.warning {
    color: #ffa31a;
}

.error {
    color: #ff3300;
}

/************ TABLE ************/

.subfolders {
    background-color: #fff;
    /* background-color: #A3CB38; */
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
}

.italic {
    font-style: italic;
}

.array-report {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-weight: 400 !important;
}

.array-report tr {
    border-bottom: 1px solid #bbbbbb;
    background-color: white;
}

.short-table {
    width: 80% !important;
    margin: auto;
}

th {
    font-weight: 500 !important;
}

.array-report .right {
    text-align: right;
}

.array-report .bgwhite {
    background-color: white;
}

.array-report .bgcorrect {
    background-color: #99ccff;
}

.array-report .bgwarning {
    background-color: #ffa31a;
}

.array-report .bgerror {
    background-color: #ff3300;
}

.file-methods-subtitle {
    padding-top: 20px;
}

.method-name-column {
    width: 20%;
}

.method-table {
    position: relative;
    display: block;
    width: 100%;
}

.method-thead,
.method-body {
    display: inline-table;
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.method-body {
    display: block;
}

.code-row {
    display: table;
    width: 100%;
}

/* .method-table {
    display: grid;
    width: 1150px;
    margin: auto;
}

.method-thead {
    display: table;
}

.method-body {
    overflow-x: auto;
} */
